<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Majestic Admin</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>


  <div class="header">
    <div class="header-container">
      <p class="header-title">Majestic Thai</p>
      <div class="header-image"></div>
    </div>
  </div>

  <div class="pagebody">

<!--     <div class="menu">
  <div class="menu-heading">
    <p>Appetizers</p>
  </div>
  <div class="sideBar"></div>
  <script type="text/template" data-template-name="post-li">
    <ul>
      <li class="item-price post-li">\$<%= item_price %></li>
      <li class="item-title post-li"><%= item_title %></li>
      <li class="item-description post-li"><%= item_description %></li>
      <li class="item-button post-li"><button>Add</button></li>
    </ul>
  </script>
</div>
<div class="cart">
  <ul>
    <li class="cart-item-title"></li>
    <li class="cart-item-description"></li>
    <li class="cart-item-price"></li>
  </ul>
</div> -->



    <div class="form-container">

      <div class="menu">
        <div class="menu-heading">
          <p>Appetizers</p>
        </div>
        <div class="sideBar"></div>
        <script type="text/template" data-template-name="post-li">
          <ul>
            <li class="item-price post-li">$<%= item_price %></li>
            <li class="item-title post-li"><%= item_title %></li>
            <li class="item-description post-li"><%= item_description %></li>
            <li class="item-button post-li"><button>Add</button></li>
          </ul>
        </script>
      </div>

      <form id="item-info">
        <div class="item">
          <div class="add-item-title">
            <label>Item Title</label>
            <input type="text" class="itemTitleInput"/>
          </div>
          <div class="add-item-description">
            <label>Item Description</label>
            <input type="text" class="itemDescriptionInput" />
          </div>
          <div class="add-item-price">
            <label for="email">Item Price ($)</label>
            <input name="email" type="text" class="itemPriceInput"/>
          </div>
          <div class="add-item-category">
            <label>Item Category</label>
            <input type="text" class="itemCategoryInput"/>
          </div>
          <div class="form-button">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script src="scripts/main.js"></script>
  <script src="scripts/post.js"></script>

</body>
</html>
