<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Majestic Thai</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <div class="header">
    <div class="header-container">
      <p class="header-title">Majestic Thai</p>
      <div class="header-image"></div>
    </div>
  </div>




  <div class="pagebody">
    <div class="menu">
      <div class="menu-heading">
        <p>Appetizers</p>
      </div>
      <div class="sideBar"></div>
      <script type="text/template" data-template-name="post-li">
        <ul>
          <li class="item-price post-li">$<%= item_price %></li>
          <li class="item-title post-li"><%= item_title %></li>
          <li class="item-description post-li"><%= item_description %></li>
          <li class="item-button post-li"><button>Add</button></li>
        </ul>
      </script>
    </div>
    <div class="cart">
      <ul>
        <li class="cart-item-title"></li>
        <li class="cart-item-description"></li>
        <li class="cart-item-price"></li>
      </ul>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>

  <script src="scripts/post.js"></script>

</body>
</html>
