html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0; }

.header {
  width: 100%;
  height: 175px;
  background: #252525;
  border-bottom: 1px solid #333; }

.header-title {
  color: #f0f0f0;
  font-family: sans-serif;
  font-size: 80px;
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
  padding-top: 100px;
  display: inline-block;
  margin-top: -2px; }

.header-image {
  display: inline-block;
  background: url("../images/basil_green.png");
  width: 75px;
  height: 100px;
  background-position: center center;
  background-size: contain; }

.header-container {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px; }

.pagebody {
  width: 1080px;
  margin: 0 auto;
  margin-top: 50px; }

.menu {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  background: #fff;
  border: 1px solid #dfdfdf;
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 5px; }
  .menu:last-child {
    margin-right: 0; }

.menu ul {
  list-style: none;
  font-size: 0;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px; }

.menu ul li {
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px; }

.menu-heading {
  border-bottom: 1px solid #f5f5f5;
  text-align: center; }

.menu-heading p {
  font-size: 24px;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px; }

.item-price {
  width: 50px;
  text-align: right;
  font-weight: bold; }

.item-title {
  width: 150px;
  text-align: left;
  padding-left: 5px; }

.item-description {
  width: 550px;
  text-align: left;
  font-style: italic;
  font-size: 12px !important;
  line-height: 22px;
  padding-left: 55px;
  padding-right: 150px; }

.item-button {
  text-align: left;
  padding-left: 15px;
  margin-top: -15px; }

.item-button button {
  width: 50px;
  border-radius: 3px;
  height: 25px;
  color: #fff;
  background: blue;
  border: 0;
  outline: 0;
  margin-top: -20px;
  font-size: 12px; }

.cart {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 100px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  margin-left: 15px;
  background: #fff; }

/* FORM */
.form-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px; }
  .form-container::after {
    clear: both;
    content: "";
    display: table; }

.item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  margin-top: 0px;
  background: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  vertical-align: top; }
  .item:last-child {
    margin-right: 0; }

select,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  background-color: #fff; }
  select:focus,
  input:focus,
  textarea:focus {
    outline: none; }

.add-item-title input,
.add-item-description input,
.add-item-category input,
.add-item-price input {
  transition: 1000ms;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 16px; }
  .add-item-title input:focus,
  .add-item-description input:focus,
  .add-item-category input:focus,
  .add-item-price input:focus {
    border: 1px solid #000; }

.add-item-title label,
.add-item-description label,
.add-item-category label,
.add-item-price label {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px; }

button {
  height: 45px;
  width: 100%;
  background: #4a62e6;
  border-radius: 3px;
  border: 1px solid #fff;
  text-align: center;
  margin-top: 30px;
  padding-top: 7px;
  transition: 500ms;
  font-family: sans-serif;
  font-size: 18px;
  color: #FFF;
  font-weight: 400;
  text-decoration: none;
  transition: 500ms; }

/*# sourceMappingURL=main.css.map */
